* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

h1 {
	font-size: 300px;
	text-align: center;
	color: fuchsia;
}

h1,h2,h3,h4,h5,h6 {
	text-align: center;
}

img {
	max-width: 100%;
}

$ourOrange: #FF840A;
$ourPink: #FE0AFF;
$ourBlue: #0A85FF;

body {
	background: $ourOrange;
}

button {
	// box-shadow: 0px 10px 14px -7px #9fb4f2;
	box-shadow: none;
	background-color:$ourBlue;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	display: inline-block;
	// text-shadow:0px 1px 0px #283966;
}
button:hover {
	background-color:$ourPink;
}

button:focus {
	outline: none;
}

form {
    width: 80%;
    margin: 0 auto;
    // background: white;
    padding: 3%;
    text-align: center;

    h3 {
    	font-size: 36px;
    }

    input {
    	width:60%;
    	margin: 3% auto; 
    	border: 2px solid $ourBlue;
    	padding: 1.5%;
	    display: block;
	    font-size: 24px;
    }

    input:focus {
    	border: 4px solid $ourBlue;
    }
}

.viewTabs {
	text-align: center;

	button {
		margin: 2%;
	}
}

.inbox {
	.msg {
		border: 3px solid $ourPink;
		background: white;
		width: 30%;
		margin: 3% auto;
		padding: 2%;
		position: relative;

		p {
			margin: 1% 0;
		}

		.msgDeets {
			display: inline-block;
			vertical-align: center;
			margin-right: 10%;
		}


		button.star {
			background: none;
			color: black;
			padding: 1%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -60px;
		}

		button.star.active {
			color: $ourBlue;
		}
	}
}

#headerContainer {
	text-align: center;

	h1, marquee {
		text-align: center;
		color: $ourBlue;
		font-size: 64px;
		font-weight: bolder;
		margin: 5%;
	}

	#navBar {
		a {
			background: $ourPink ;
			color: white;
			padding: 1.5%;
			margin: 2%;
			text-decoration: none;
		}
	}
	margin-bottom: 10%;
}